# basic
__pycache__
.venv
.mypy_cache
test.sh
twitch/menu_beta.py
twitch/credentials.py
twitch/channels-bk.json
twitch/channels-pavel.json
data.json
testing.py
.env
twitch/app-chat.py
twitch/test_twitch_api.py
test_app.py
pmain.py
twitch/database.bk
.ropeproject
app-new.py
.coverage
img
twitch/database/twitch_channels.db
.github/images
.cbfmt.toml
tests
another.py
main_alternative.py
pavel.py
twitch/utils/tk_menu.py
removed
dist
src/main_old.py
.dmypy.json
src/pytwitchify/__main__remove_.py
new-data-channels.py
new_menu.py
delete.py
rofi-original.png
videos.py
src/pytwitchify/app-chat.py
src/pytwitchify/chat.py
src/pytwitchify/old_app.py
2023-04-07_16-20.png
run.py
VENV
